.faq {
    &__list {
        margin-bottom: 70px;
    }

    &__item {
        display: flex;
        width: 100%;
        flex-direction: column;

        &:not(:last-child) {
            margin-bottom: 30px;
        }

        &-question {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            width: 100%;

            &__text {
                width: max-content;
                max-width: 695px;
                margin-bottom: 30px;
                padding: 25px 17px;
                font-size: 20px;
                font-weight: 500;
                text-align: right;
                color: #ffffff;
                border-radius: 33px;
                background-color: #458df5;
            }
        }

        &-answer {
            width: 100%;
            max-width: 695px;
            padding: 25px 17px;
            font-size: 20px;
            font-weight: 500;
            text-align: left;
            color: #414141;
            border-radius: 33px;
            background-color: #e9e9ea;
        }
    }

    &__more-btn {
        cursor: pointer;
        display: block;
        height: 50px;
        min-width: 255px;
        margin: 0 auto;
        font-size: 18px;
        font-weight: 700;
        text-align: center;
        color: #1978f0;
        background: transparent;
        border: solid 1px #1978f0;
        border-radius: 25px;
        transition: all 0.5s ease-in-out;

        &:hover {
            color: #ffffff;
            background-color: #1978f0;
        }
    }
}
