.infoblock {
    margin-bottom: 60px;

    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 900px;
        border-radius: 40px;
        background-image: linear-gradient(to bottom, #121720, #293348);
        flex-direction: column;
    }

    &__title {
        font-size: 111px;
        font-weight: 100;
        text-align: center;
        color: #ffffff;
    }
}
