.price {

    &__list {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 35px;
        flex-direction: column;

        .nav {
            justify-content: center;
            gap: 18px;

            @media (max-width: 768px) {
                justify-content: center;
                gap: 10px;
            }

            @media (max-width: 575px) {
                margin-right: calc(var(--bs-gutter-x) * -.5);
                margin-left: calc(var(--bs-gutter-x) * -.5);
            }
        }

        .nav-link {
            display: flex;
            justify-content: space-between;
            // width: 219px;
            padding: 20px 13px 25px;
            font-size: 18px;
            font-weight: 600;
            text-align: center;
            color: #414141;
            border-radius: 10px;
            transform: scale(0.95);
            transition: all ease .7s;
            background-color: #f5f5f7;
            flex-direction: column;

            // @media (max-width: 960px) {
            //     width: 20%;
            // }

            @media (max-width: 768px) {
                font-size: 14px;
            }

            // @media (max-width: 575px) {
            //     width: calc(100% / 3 - 10px);
            //     margin-bottom: 5px;
            // }

            &:hover {
                transform: scale(1.1);
                transition: all ease .7s;

                @media (max-width: 768px) {
                    transform: none;
                }
            }

            &.active {
                color: #414141;
                background-color: #f5f5f7;
            }

            .nav-img {
                display: flex;
                align-items: center;
                justify-content: center;
                margin-bottom: 10px;
            }

            img {
                width: auto;
                height: 100%;
                max-height: 192px;
            }
        }
    }

    &__btn {
        width: max-content;
    }

    &__btn-wrap {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__subtitle {
        margin-bottom: 16px;
        font-size: 30px;
        font-weight: bold;
        text-align: center;
        color: #1c1c1c;

        @media (max-width: 575px) {
            font-size: 24px;
            line-height: 1.25;
        }
    }

    .tab-content {
        width: 100%;
        margin-top: 58px;
    }

    &__table {
        font-size: 16px;
        font-weight: 500;
        line-height: 1.25;
        color: #353941;

        td {
            padding-top: 10px;
            padding-bottom: 10px;
            border-bottom: 1px solid #d4dce7;
            white-space: normal;
            vertical-align: middle;
        }

        &-cost {
            text-align: center;
        }

        &-time {
            text-align: right;
        }
    }
}
