+b.HEADER.header
  .container
    .row
      .col-6
        +e.logo
          img(src="img/icons/ic-copyleft.svg", alt="Logo")
      .col-6
        +e.phone
          +e.A.phone-link(href="tel:+74993946864") +7 (499) 394-68-61
