+b.SECTION.advantages
  .container
    .row
      .col-12
        +e.wrapper
          .d-flex.align-items-start
            #v-pills-tab.nav.flex-column.nav-pills.me-3(role="tablist" aria-orientation="vertical")
              button#v-advantages-tab-01.nav-link.active(data-bs-toggle="pill" data-bs-target="#v-advantages-01" type="button" role="tab" aria-controls="v-advantages-01" aria-selected="true")
                img(src="https://via.placeholder.com/65", alt="")
                span Наблюдайте за ремонтом
              button#v-advantages-tab-02.nav-link(data-bs-toggle="pill" data-bs-target="#v-advantages-02" type="button" role="tab" aria-controls="v-advantages-02" aria-selected="false")
                img(src="https://via.placeholder.com/65", alt="")
                span Наблюдайте за ремонтом
              button#v-advantages-tab-03.nav-link(data-bs-toggle="pill" data-bs-target="#v-advantages-03" type="button" role="tab" aria-controls="v-advantages-03" aria-selected="false")
                img(src="https://via.placeholder.com/65", alt="")
                span Наблюдайте за ремонтом
              button#v-advantages-tab-04.nav-link(data-bs-toggle="pill" data-bs-target="#v-advantages-04" type="button" role="tab" aria-controls="v-advantages-04" aria-selected="false")
                img(src="https://via.placeholder.com/65", alt="")
                span Наблюдайте за ремонтом
            #v-pills-tabContent.tab-content
              #v-advantages-01.tab-pane.fade.show.active(role="tabpanel" aria-labelledby="v-advantages-tab-01")
                +e.tab-content
                  +e.tab-info
                    +e.tab-content__subtitle Специально для вас
                    +e.H2.tab-content__title Лично наблюдаете за ремонтом своего устройства
                    +e.tab-content__text Большинство проблем с техникой Apple можно решить оперативно, и вовсе необязательно ждать результатов диагностики дни или даже недели, как бывает в некоторых сервисах по ремонту компьютерной техники. В нашем сервисе Вы имеете возможность лично наблюдать за работой специалиста, если Вам это интересно.

              #v-advantages-02.tab-pane.fade(role="tabpanel" aria-labelledby="v-advantages-tab-02")
                +e.tab-content
                  +e.tab-info
                    +e.tab-content__subtitle Специально для вас
                    +e.H2.tab-content__title Лично наблюдаете за ремонтом своего устройства
                    +e.tab-content__text Большинство проблем с техникой Apple можно решить оперативно, и вовсе необязательно ждать результатов диагностики дни или даже недели, как бывает в некоторых сервисах по ремонту компьютерной техники. В нашем сервисе Вы имеете возможность лично наблюдать за работой специалиста, если Вам это интересно.

              #v-advantages-03.tab-pane.fade(role="tabpanel" aria-labelledby="v-advantages-tab-03")
                +e.tab-content
                  +e.tab-info
                    +e.tab-content__subtitle Специально для вас
                    +e.H2.tab-content__title Лично наблюдаете за ремонтом своего устройства
                    +e.tab-content__text Большинство проблем с техникой Apple можно решить оперативно, и вовсе необязательно ждать результатов диагностики дни или даже недели, как бывает в некоторых сервисах по ремонту компьютерной техники. В нашем сервисе Вы имеете возможность лично наблюдать за работой специалиста, если Вам это интересно.

              #v-advantages-04.tab-pane.fade(role="tabpanel" aria-labelledby="v-advantages-tab-04")
                +e.tab-content
                  +e.tab-info
                    +e.tab-content__subtitle Специально для вас
                    +e.H2.tab-content__title Лично наблюдаете за ремонтом своего устройства
                    +e.tab-content__text Большинство проблем с техникой Apple можно решить оперативно, и вовсе необязательно ждать результатов диагностики дни или даже недели, как бывает в некоторых сервисах по ремонту компьютерной техники. В нашем сервисе Вы имеете возможность лично наблюдать за работой специалиста, если Вам это интересно.

