+b.DIV.main-block
  picture
    +e.IMG.img(src="img/main/bitmap.jpg" srcset="img/main/bitmap@2x.jpg 2x, img/main/bitmap@3x.jpg 3x" alt="banner")
  .container
    .row
      .col-12
        +e.wrapper
          +e.info
            +e.H1.title Срочный ремонт техники Apple
              br
              |
              | в Москве
            +e.text
              p Договор с гарантией на работы и запчасти
              p Бесплатный выезд мастера
              p Срочный ремонт в Вашем присутствии
            +e.BUTTON.btn.btn(type="button") Вызвать мастера
