+b.DIV.banner(style="background-image: url('https://via.placeholder.com/2560x960/');")
  .container
    .row
      .col-12
        +e.wrapper
          +e.info
            +e.H1.title Срочный ремонт техники Apple
              br
              |
              | в Москве
            +e.text Договор с гарантией на работы и запчасти
              br
              | Бесплатный выезд мастера
              br
              | Срочный ремонт в Вашем присутствии
            +e.BUTTON.btn.btn(type="button") Вызвать мастера
