+b.SECTION.departure.section
  .container
    .row.row-line-horizontal
      .col-12.col-md-10.offset-md-1
        h2.section__title Выезд и диагностика бесплатно
        +e.text
          p Мастер приедет к Вам, найдёт поломку и озвучит стоимость ремонта.
          p Модульный ремонт (замена аккумулятора, клавиатуры, дисплейного модуля) можно произвести по адресу заказчика. Компонентный ремонт и работы, связанные с пайкой производятся в условиях сервисного центра.
        +e.btn.btn Вызвать мастера
