+b.SECTION.especially.section
  .container
    .row
      .col-12.col-md-10.offset-md-1
        h2.section__title Выезд и диагностика бесплатно
        +e.section__introtext
          p Мастер приедет к Вам, найдёт поломку и озвучит стоимость ремонта.
          p Модульный ремонт (замена аккумулятора, клавиатуры, дисплейного модуля) можно произвести по адресу заказчика. Компонентный ремонт и работы, связанные с пайкой производятся в условиях сервисного центра.
        +e.BUTTON.btn.btn(type="button") Вызвать мастера
