+b.SECTION.faq.section
  .container
    .row.row-line-horizontal
      .col-12
        h2.section__title Частые вопросы клиентов
        +e.list
          +e.item
            +e.item-question
              +e.item-question__text Выезд мастера бесплатный?
            +e.item-answer Да, выезд мастера в пределах МКАД бесплатный, если Вы хотите вызвать мастера за пределы МКАД, позвоните нам или оставьте заявку, мы сориентируем по цене
          +e.item
            +e.item-question
              +e.item-question__text Мастер может приехать комне на работу?
            +e.item-answer Да, мастер может приехать к Вам на работу, а так же может приехать к Вам домой, в спортзал, в ресторан или кафе
        +e.BUTTON.more-btn(type="button") Еще вопросы

