+b.SECTION.information.section
  .container
    .row
      .col-12
        +e.wrapper
          +e.item(style="background-image: url('https://via.placeholder.com/900x630/')")
            +e.item-info
              +e.item-info__wrap
                +e.H2.item-title._first Почему Ваш Mac так быстро как новый?
                +e.item-text Macsimple cервисный центр по ремонту техники Apple с фокусом на качество и оперативность.
          +e.item(style="background-image: url('https://via.placeholder.com/900x630/')")
            +e.item-info
              +e.item-info__wrap
                +e.H2.item-title Только проверенные запчасти от производителя
                +e.item-text У нас в Macsimple есть свой склад с особенно востребованными комплектующими, это позволяет ускорить ремонт до считанных минут.
          +e.item(style="background-image: url('https://via.placeholder.com/900x630/')")
            +e.item-info
              +e.item-info__wrap
                +e.H2.item-title Бесплатную, выездную диагностику проводит мастер
                +e.item-text У нас в Macsimple на диагностику выезжает мастер который в вашем присутствии может починить неисправность не забирая устройство в сервис.
          +e.item(style="background-image: url('https://via.placeholder.com/900x630/')")
            +e.item-info
              +e.item-info__wrap
                +e.H2.item-title Мы используем исключительно профессиональное оборудование
                +e.item-text Мы Macsimple ценим профессиональный подход, это залог качества, поэтому в руках наших специалистов вы увидите только специализированный инструмент.
          +e.item(style="background-image: url('https://via.placeholder.com/900x630/')")
            +e.item-info
              +e.item-info__wrap
                +e.H2.item-title Мы даем гарантию
                +e.item-text Мы Macsimple ценим ваше и своё время, поэтому всё делаем быстро и качественно, поэтому мы даем гарантию на свою работу и комплектующие.
