+b.SECTION.price.section
  .container
    .row
      .col-12
        h2.section__title Выберите своё устройство
        +e.list
          nav
            #nav-tab.nav.nav-pills(role="tablist")
              button#nav-macbookair-tab.nav-link.active(data-bs-toggle="pill" data-bs-target="#nav-macbookair" type="button" role="tab" aria-controls="nav-macbookair" aria-selected="true")
                span.nav-img
                  img(src="https://via.placeholder.com/215/")
                span MacBook Air
              button#nav-macbookpro-tab.nav-link(data-bs-toggle="pill" data-bs-target="#nav-macbookpro" type="button" role="tab" aria-controls="nav-macbookpro" aria-selected="false")
                span.nav-img
                  img(src="https://via.placeholder.com/215/")
                span MacBook Pro
              button#nav-imac-tab.nav-link(data-bs-toggle="pill" data-bs-target="#nav-imac" type="button" role="tab" aria-controls="nav-imac" aria-selected="false")
                span.nav-img
                  img(src="https://via.placeholder.com/215/")
                span iMac
              button#nav-watch-tab.nav-link(data-bs-toggle="pill" data-bs-target="#nav-watch" type="button" role="tab" aria-controls="nav-watch" aria-selected="false")
                span.nav-img
                  img(src="https://via.placeholder.com/215/")
                span Apple watch
          #nav-tabContent.tab-content
            #nav-macbookair.tab-pane.fade.show.active(role="tabpanel" aria-labelledby="nav-macbookair")
              .row
                .col-12.col-md-10.offset-md-1
                  +e.H3.subtitle Стоимость работ по ремонту Macbook Air
                  .table-responsive
                    +e.TABLE.table.table
                      tbody
                        tr
                          +e.TD.table-title Чистка от пыли/Замена термопасты
                          +e.TD.table-cost от 600 руб.
                          +e.TD.table-time от 40 минут
                        tr
                          +e.TD.table-title Замена аккумулятора
                          +e.TD.table-cost 3400 руб.
                          +e.TD.table-time от 40 минут
                        tr
                          +e.TD.table-title Замена матрицы
                          +e.TD.table-cost 4200 руб.
                          +e.TD.table-time от 40 минут
                        tr
                          +e.TD.table-title Ремонт после попадания влаги
                          +e.TD.table-cost 1600 руб.
                          +e.TD.table-time от 40 минут
                        tr
                          +e.TD.table-title Установка MacOS/Windows
                          +e.TD.table-cost 900 руб.
                          +e.TD.table-time от 40 минут

            #nav-macbookpro.tab-pane.fade(role="tabpanel" aria-labelledby="nav-macbookpro")
              .row
                .col-12.col-md-10.offset-md-1
                  +e.H3.subtitle Стоимость работ по ремонту Macbook Pro
                  .table-responsive
                    +e.TABLE.table.table
                      tbody
                        tr
                          +e.TD.table-title Чистка от пыли/Замена термопасты
                          +e.TD.table-cost от 600 руб.
                          +e.TD.table-time от 40 минут
                        tr
                          +e.TD.table-title Замена аккумулятора
                          +e.TD.table-cost 3400 руб.
                          +e.TD.table-time от 40 минут
                        tr
                          +e.TD.table-title Замена матрицы
                          +e.TD.table-cost 4200 руб.
                          +e.TD.table-time от 40 минут
                        tr
                          +e.TD.table-title Ремонт после попадания влаги
                          +e.TD.table-cost 1600 руб.
                          +e.TD.table-time от 40 минут

            #nav-imac.tab-pane.fade(role="tabpanel" aria-labelledby="nav-imac")
              .row
                .col-12.col-md-10.offset-md-1
                  +e.H3.subtitle Стоимость работ по ремонту iMac
                  .table-responsive
                    +e.TABLE.table.table
                      tbody
                        tr
                          +e.TD.table-title Чистка от пыли/Замена термопасты
                          +e.TD.table-cost от 600 руб.
                          +e.TD.table-time от 40 минут
                        tr
                          +e.TD.table-title Замена аккумулятора
                          +e.TD.table-cost 3400 руб.
                          +e.TD.table-time от 40 минут
                        tr
                          +e.TD.table-title Замена матрицы
                          +e.TD.table-cost 4200 руб.
                          +e.TD.table-time от 40 минут

            #nav-watch.tab-pane.fade(role="tabpanel" aria-labelledby="nav-watch")
              .row
                .col-12.col-md-10.offset-md-1
                  +e.H3.subtitle Стоимость работ по ремонту Apple watch
                  .table-responsive
                    +e.TABLE.table.table
                      tbody
                        tr
                          +e.TD.table-title Чистка от пыли/Замена термопасты
                          +e.TD.table-cost от 600 руб.
                          +e.TD.table-time от 40 минут

