+b.SECTION.price.section
  .container
    .row
      .col-12
        h2.section__title Выберите своё устройство
        +e.list
          nav
            #nav-tab.nav.nav-pills(role="tablist")
              button#nav-macbookair-tab.nav-link.active(data-bs-toggle="pill" data-bs-target="#nav-macbookair" type="button" role="tab" aria-controls="nav-macbookair" aria-selected="true") MacBook Air
              button#nav-macbookpro-tab.nav-link(data-bs-toggle="pill" data-bs-target="#nav-macbookpro" type="button" role="tab" aria-controls="nav-macbookpro" aria-selected="false") MacBook Pro
              button#nav-imac-tab.nav-link(data-bs-toggle="pill" data-bs-target="#nav-imac" type="button" role="tab" aria-controls="nav-imac" aria-selected="false") iMac
              button#nav-watch-tab.nav-link(data-bs-toggle="pill" data-bs-target="#nav-watch" type="button" role="tab" aria-controls="nav-watch" aria-selected="false") Apple watch
          #nav-tabContent.tab-content
            #nav-macbookair.tab-pane.fade.show.active(role="tabpanel" aria-labelledby="nav-macbookair")
              +e.H3.subtitle Стоимость работ по ремонту Macbook Air
            #nav-macbookpro.tab-pane.fade(role="tabpanel" aria-labelledby="nav-macbookpro")
              +e.H3.subtitle Стоимость работ по ремонту Macbook Pro
            #nav-imac.tab-pane.fade(role="tabpanel" aria-labelledby="nav-imac")
              +e.H3.subtitle Стоимость работ по ремонту iMac
            #nav-watch.tab-pane.fade(role="tabpanel" aria-labelledby="nav-watch")
              +e.H3.subtitle Стоимость работ по ремонту Apple watch

