+b.SECTION.price.section
  .container
    .row
      .col-12
        h2.section__title(data-aos="fade-up" data-aos-duration="2000") Выберите  своё
          |
          br
          | Apple устройство
        +e.list
          .swiper-container.mySwiperThumb.w-100
            .swiper-wrapper
              .swiper-slide
                .device-item
                  span.nav-img
                    img(src="img/device/macbookpro.png" alt="macbook air")
                  span MacBook Air
              .swiper-slide
                .device-item
                  span.nav-img
                    img(src="img/device/macbookpro.png" alt="macbook pro")
                  span MacBook Pro
              .swiper-slide
                .device-item
                  span.nav-img
                    img(src="img/device/imac.png" alt="imac")
                  span iMac
              .swiper-slide
                .device-item
                  span.nav-img
                    img(src="img/device/macmini.png" alt="mac mini")
                  span Mac mini
              .swiper-slide
                .device-item
                  span.nav-img
                    img(src="img/device/macbookpro.png" alt="macbook air")
                  span MacBook Air
              .swiper-slide
                .device-item
                  span.nav-img
                    img(src="img/device/macbookpro.png" alt="macbook pro")
                  span MacBook Pro
              .swiper-slide
                .device-item
                  span.nav-img
                    img(src="img/device/imac.png" alt="imac")
                  span iMac
              .swiper-slide
                .device-item
                  span.nav-img
                    img(src="img/device/macmini.png" alt="mac mini")
                  span Mac mini

          .swiper-container.mySwiper.w-100
            .swiper-wrapper
              .swiper-slide
                .row
                  .col-12.col-md-10.offset-md-1
                    +e.H3.subtitle Стоимость работ по ремонту Macbook Air
                    +e.TABLE.table.table
                      tbody
                        tr
                          +e.TD.table-title Чистка от пыли/Замена термопасты
                          +e.TD.table-cost от 600 руб.
                          +e.TD.table-time от 40 минут
                        tr
                          +e.TD.table-title Замена аккумулятора
                          +e.TD.table-cost 3400 руб.
                          +e.TD.table-time от 40 минут
                        tr
                          +e.TD.table-title Замена матрицы
                          +e.TD.table-cost 4200 руб.
                          +e.TD.table-time от 40 минут
                        tr
                          +e.TD.table-title Ремонт после попадания влаги
                          +e.TD.table-cost 1600 руб.
                          +e.TD.table-time от 40 минут
                        tr
                          +e.TD.table-title Установка MacOS/Windows
                          +e.TD.table-cost 900 руб.
                          +e.TD.table-time от 40 минут
                    +e.btn-wrap
                      +e.BUTTON.btn.btn(type="button", data-bs-toggle="modal", data-bs-target="#modalMaster", data-product="MacBook Air") Вызвать мастера

              .swiper-slide
                .row
                  .col-12.col-md-10.offset-md-1
                    +e.H3.subtitle Стоимость работ по ремонту Macbook Pro
                    +e.TABLE.table.table
                      tbody
                        tr
                          +e.TD.table-title Чистка от пыли/Замена термопасты
                          +e.TD.table-cost от 600 руб.
                          +e.TD.table-time от 40 минут
                        tr
                          +e.TD.table-title Замена аккумулятора
                          +e.TD.table-cost 3400 руб.
                          +e.TD.table-time от 40 минут
                        tr
                          +e.TD.table-title Замена матрицы
                          +e.TD.table-cost 4200 руб.
                          +e.TD.table-time от 40 минут
                        tr
                          +e.TD.table-title Ремонт после попадания влаги
                          +e.TD.table-cost 1600 руб.
                          +e.TD.table-time от 40 минут
                    +e.btn-wrap
                      +e.BUTTON.btn.btn(type="button", data-bs-toggle="modal" data-bs-target="#modalMaster" data-product="MacBook Pro") Вызвать мастера

              .swiper-slide
                .row
                  .col-12.col-md-10.offset-md-1
                    +e.H3.subtitle Стоимость работ по ремонту iMac
                    +e.TABLE.table.table
                      tbody
                        tr
                          +e.TD.table-title Чистка от пыли/Замена термопасты
                          +e.TD.table-cost от 600 руб.
                          +e.TD.table-time от 40 минут
                        tr
                          +e.TD.table-title Замена аккумулятора
                          +e.TD.table-cost 3400 руб.
                          +e.TD.table-time от 40 минут
                        tr
                          +e.TD.table-title Замена матрицы
                          +e.TD.table-cost 4200 руб.
                          +e.TD.table-time от 40 минут
                    +e.btn-wrap
                      +e.BUTTON.btn.btn(type="button", data-bs-toggle="modal" data-bs-target="#modalMaster" data-product="iMac") Вызвать мастера

              .swiper-slide
                .row
                  .col-12.col-md-10.offset-md-1
                    +e.H3.subtitle Стоимость работ по ремонту Apple Mac mini
                    +e.TABLE.table.table
                      tbody
                        tr
                          +e.TD.table-title Чистка от пыли/Замена термопасты
                          +e.TD.table-cost от 600 руб.
                          +e.TD.table-time от 40 минут
                    +e.btn-wrap
                      +e.BUTTON.btn.btn(type="button", data-bs-toggle="modal" data-bs-target="#modalMaster" data-product="Mac mini") Вызвать мастера
