+b.SECTION.reviews.section
  .container
    .row
      .col-12
        h2.section__title Отзывы наших клиентов
        .swiper-container.reviews__slider
          .swiper-wrapper
            +reviews-card({
              title: "Sidnee Gye",
              text: "Нечаянно разлила на Макбук кофе. Простая сушка вопрос не решила, Макбук не включался. Ребята из сервиса быстро отремонтировали за минут 40. Спасибки!"
            })
            +reviews-card({
              title: "Sidnee Gye",
              text: "Нечаянно разлила на Макбук кофе. Простая сушка вопрос не решила, Макбук не включался. Ребята из сервиса быстро отремонтировали за минут 40. Спасибки!"
            })
            +reviews-card({
              title: "Sidnee Gye",
              text: "Нечаянно разлила на Макбук кофе. Простая сушка вопрос не решила, Макбук не включался. Ребята из сервиса быстро отремонтировали за минут 40. Спасибки!"
            })
            +reviews-card({
              title: "Sidnee Gye",
              text: "Нечаянно разлила на Макбук кофе. Простая сушка вопрос не решила, Макбук не включался. Ребята из сервиса быстро отремонтировали за минут 40. Спасибки!"
            })
          .swiper-pagination
