.footer {
    padding: 20px 20px 13px 21px;
    background-color: #000000;

    @media (max-width: 992px) {
        margin-top: 60px;
    }

    &__wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 1440px;
        margin: 0 auto;
    }

    &__copyrite {
        display: flex;
        align-items: center;

        &-icon {
            width: 30px;
            margin-right: 10px;
            flex: none;
        }

        &-text {
            font-size: 14px;
            line-height: 1.43;
            color: white;

            a {
                display: block;
                color: white;
            }

            span {
                display: block;
            }
        }
    }

    &__creator {
        flex: none;
        margin-right: 10px;

        img {
            width: auto;
            height: 60px;
        }
    }
}

@media (max-width: 575px) {
    .footer {
        margin-top: 20px;
        padding: 20px 20px 15px;

        &__copyrite {

            &-text {
                line-height: 1.25;
            }
        }
    }
}
