.modal {
    text-align: center;
    box-shadow: 0 8px 34px 0 rgba(53, 57, 65, 0.55);

    &-backdrop {
        opacity: 1;
        -webkit-backdrop-filter: blur(4px);
        backdrop-filter: blur(4px);
        background-color: rgba(53, 57, 65, 0.42);

        &.show {
            opacity: 1;
        }
    }

    .btn-close {
        cursor: pointer;
        position: absolute;
        top: 25px;
        right: 20px;
        width: 71px;
        height: 71px;
        border: 0;
        transition: .5s all ease-in;
        content: "";
        background-color: transparent;
        background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='71px' height='72px' viewBox='0 0 71 72' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3EIcons / Cross 2%3C/title%3E%3Cg id='Main' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='Desktop-HD-/-Modal' transform='translate(-1113.000000, -189.000000)' stroke='%23000000' stroke-width='2'%3E%3Cg id='Icons-/-Cross-2' transform='translate(1113.000000, 189.125000)'%3E%3Cg id='Icons-/-Cross' transform='translate(35.500000, 35.500000) rotate(45.000000) translate(-35.500000, -35.500000) translate(11.000000, 11.000000)'%3E%3Cline x1='24.5' y1='0.5' x2='24.5' y2='48.5' id='Line-2'%3E%3C/line%3E%3Cline x1='24.5' y1='0.5' x2='24.5' y2='48.5' id='Line-2' transform='translate(24.500000, 24.500000) rotate(-90.000000) translate(-24.500000, -24.500000) '%3E%3C/line%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");

        &:hover {
            opacity: 0.8;
        }
    }

    &-dialog {
        align-items: flex-end;
        width: calc(100% - 30px);
        max-width: 960px;
        min-height: 100%;
        margin: 1.75rem auto 0;
    }

    &-header {
        border: 0;
    }

    &-title {
        font-size: 59px;
        font-weight: 900;
        color: #1c1c1c;

        @media (max-width: 991px) {
            font-size: 42px;
        }

        @media (max-width: 620px) {
            font-size: 30px;
        }
    }

    &-text {
        font-size: 24px;
        font-weight: 500;
        line-height: 1.25;
        color: #414141;

        @media (max-width: 991px) {
            font-size: 18px;
        }

        @media (max-width: 620px) {
            font-size: 16px;
        }
    }

    &-body {
        @media (max-width: 620px) {
            padding: 0;
        }
    }

    &-info {
        max-width: 65%;
        margin: 0 auto 25px;

        @media (max-width: 620px) {
            max-width: 100%;
        }
    }

    &-content {
        position: relative;
        padding: 64px 18px 25px;
        border: 0;
        border-radius: 20px;
        box-shadow: none;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;

        @media (max-width: 620px) {
            padding: 30px 18px;
        }

        &::before {
            z-index: 1;
            position: absolute;
            top: 0;
            left: 60px;
            width: 60px;
            height: 125px;
            content: '';
            background-repeat: no-repeat;
            background-size: contain;
            background-image: url('../img/global/Sticker.png');

            @media (max-width: 620px) {
                display: none;
            }
        }
    }

    &-devices{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-bottom: 45px;
        flex-wrap: wrap;
        gap: 10px;

        @media (max-width: 620px) {
            gap: initial;
        }

        &__item {
            width: 25%;

            @media (max-width: 620px) {
                width: 50%;
            }

            input[type="radio"] {
                display: none;
            }

            &-label {
                cursor: pointer;
                position: relative;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 10px 15px 25px;
                text-align: center;
                border-radius: 10px;
                transform: scale(0.95);
                transition: all ease .7s;
                background-color: #f5f5f7;
                flex-direction: column;

                &:hover {
                    transform: scale(1.1);
                    transition: all ease .7s;
                }
            }

            &-title {
                font-size: 18px;
                font-weight: 600;
                color: #414141;

                @media (max-width: 620px) {
                    font-size: 14px;
                }
            }

            :checked + label {
                background-color: #cde1ff;
            }
        }
    }

    .form-data{
        width: 100%;
        max-width: 455px;
        margin: 0 auto 80px;
    }

    .form__title {
        margin-bottom: 25px;
        font-size: 20px;
        font-weight: 500;
        color: #1c1c1c;
    }

    .form-button {
        height: 70px;
        max-width: 370px;
        margin: 0 auto;
        line-height: 55px;
    }


    &.fade .modal-dialog {
        transform: translate3d(0, 100vh, 0);
    }

    &.show .modal-dialog {
        transform: translate3d(0, 0, 0);
    }
}
