extends common/layout
include common/mixins.pug

block content
  .content
    include includes/index/banner
    include includes/index/price
    include includes/index/information
    include includes/index/advantages
    include includes/index/reviews
    include includes/index/faq
    include includes/index/diagnostic
    include includes/index/modal
